@import './base/settings';
@import './base/base';

/* Font face*/
@font-face {
    font-family: 'News701BT-BoldA';
    src: local('News701BT-BoldA'), url('./fonts/News701BT-BoldA.eot');
    src: url('./fonts/News701BT-BoldA.eot?#iefix') format('embedded-opentype'),
    url('./fonts/News701BT-BoldA.woff2') format('woff2'),
    url('./fonts/News701BT-BoldA.woff') format('woff'),
    url('./fonts/News701BT-BoldA.ttf') format('truetype'),
    url('./fonts/News701BT-BoldA.svg#News701BT-BoldA') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'News701 BT';
    src: local('News701 BT'), url('./fonts/News701BT-ItalicA.eot');
    src: local('News701 BT'), url('./fonts/News701BT-ItalicA.eot?#iefix') format('embedded-opentype'),
    url('./fonts/News701BT-ItalicA.woff2') format('woff2'),
    url('./fonts/News701BT-ItalicA.woff') format('woff'),
    url('./fonts/News701BT-ItalicA.ttf') format('truetype'),
    url('./fonts/News701BT-ItalicA.svg#News701BT-ItalicA') format('svg');
    font-weight: normal;
    font-style: italic;
}
/* Font face end*/

/*Common styles*/
body {
    font-family: 'News701 BT';
	color:#000;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:#fff;
}

img {
    /*max-height:100%;*/
    max-width:100%;
}
section {
    position:relative;
    padding:0;
    background:#eceae6;
    color:#FFF;
    text-align:center;
}

ul, ol{padding:0;margin:0;}

a{transition:all 0.25s ease-in 0s; outline:0 none; cursor:pointer; text-decoration:none; opacity:1}
a:focus{outline:0 none;}
:hover{transition:all 0.25s ease-in 0s;}
.clear{clear:both;}

.pos{position:relative;}
.container , .pos{ padding-right: 15px; padding-left: 15px;margin-right: auto; margin-left: auto;}
@media (min-width: 768px) {
.container, .pos { width: 730px;}
}
@media (min-width: 992px) {
.container, .pos {width: 970px;}
}
@media (min-width: 1200px) {
.container, .pos {width: 1170px;}
}
/*Common styles end*/

/*Tags background*/
.top{background:#f62e00;}
.conutry{background:#0092ee;}
.sports{background:#649e30;}
.politics{background:#c764e8;}
.editorial{background:#0056bd;}
.crime{background:#306bbc;}

/* col styling*/
.col-6{width:50%; float:left; }
.col-3{width:25%; float:left;}
.col-9{width:75%; float:left;}

/* Homepage */
/* advertisment box*/
header .adv-box{width:60%; margin:0 auto; padding:15px 0; }
header hr.line{border-top: 0.5px solid rgb(210, 210, 210);}
/* advertisment box end*/

/*logo*/
header .brand-info{border:0px solid red; position:relative;}
header .logo{width:100%; float:left;}
/*logo end*/

/* right side social links */
header .right-links{border:0px solid blue; width:65%;padding:13px 0;float:right;}
header .socials{border:0px solid red;float:right; }
header .socials li{list-style:none; display:inline; text-align:left; font:400 13px/18px 'Work Sans', sans-serif; color:#8a8a8a; padding:0 6px;}
header .socials li a{padding:0 8px 0 4px;}
header .socials li a i{font-size:20px;}
header .socials li a .fa-facebook{color:#3b5989;}
header .socials li a .fa-twitter{color:#00acee;}
header .socials li a .fa-youtube-play{color:#e02f2f;}
header .pie{margin:0px 8px 0 0; position:relative; top:6px;}
header .deals{padding: 2px 5px !important; margin:0 8px 0 0; background:#ee522e; color:#fff;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;position:relative; top:-2px; font:500 12px/18px 'Work Sans', sans-serif;}
header .deals:hover{background:#d84827;}
header .icon{position:relative; top:5px;}
header .paper{width:26px; position:relative; top:5px;}
header .pen{width:26px; position:relative; top:5px;}
header .search-b{width:27px; position:relative; top:3px;}
header .bars{width:26px; position:relative; top:4px;}
header .date{width:250px; text-align:center;float: left;}
header .date h4{font:bold 13px/18px 'News701BT-BoldA';  color:#1a1a1a; margin:-1px 0 4px 0;}

header .menu-tab{display:none;border-left:1px solid #f2f2f2; width:16%; height:100%; position:fixed;  top: 0; right: 0; background: #fff; z-index: 9999999; overflow-y:scroll;text-align: left;}
.close-icon{width: 23px;  position: absolute;  top: 5px; right: 4px;}
/* width */::-webkit-scrollbar { width: 3px;}
/* Track */::-webkit-scrollbar-track { background: #f1f1f1; }
/* Handle */::-webkit-scrollbar-thumb { background: #ccc; }
/* Handle on hover */::-webkit-scrollbar-thumb:hover { background: #555; }
header .menu-tab .tab-logo{width:60%; margin:0 auto; padding:5px 0 10px 0; }
header .menu-tab ul {border-top:1px solid #f2f2f2; }
header .menu-tab ul li{position:relative;text-align:left;list-style:none; letter-spacing:0.6px; display:block; padding:10px 15px; font:800 13px/18px 'Work Sans', sans-serif; border-bottom:1px solid #f2f2f2;}
header .menu-tab ul li:hover{cursor:pointer;}
header .menu-tab ul a{font:800 13px/18px 'Work Sans', sans-serif; color:#1a1a1a;}
header .menu-tab ul li.has-dropdown{padding:10px 0;}
header .menu-tab ul li.has-dropdown span{padding:0 15px;}
header .menu-tab ul li ul.dropdown{margin-top:10px; display:none;}
header .menu-tab ul li ul.dropdown li:hover{background:#f2f2f2;}
header .menu-tab ul li ul li:last-child{border-bottom:none; padding-bottom:0;}
header .menu-tab .fa-plus, header .menu-tab .fa-minus{position:absolute;position: absolute; color:#0f9fdc; right:15px;font-size: 9px;margin: 6px 0 0 0;}


header .search-btn, header .menu-btn{display:none;}
header .search-box{display:none; position: absolute; z-index:9999; right:50px;width:25%; /*left:0; margin:0 auto;*/ background: #fff;top: 112px;padding: 10px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
header .search-box .txtsearch{width:87%; float:left; padding:8px 10px; border:1px solid #d9d9d9; }
header .search-box .txtsearch:focus, header .search-box .txtsearch:hover{outline:none;} 
header .search-box .sub-btn{border:1px solid #0f9fdc; font-size:18px; padding:5px 0; width:13%; background:#0f9fdc; color:#fff;}
.fa-caret-up{float: right; margin: -24px 5px 0 0px; color:#fff; font-size:20px;}

/* right side social links end*/

/* menu*/
header .menu{background:#eceae6; padding:0px 0;}
header .menu ul li{list-style:none; letter-spacing:0.6px; display:inline-block; padding:15px 12px; font:800 13px/18px 'Work Sans', sans-serif;}
header .menu ul li a{font:800 13px/18px 'Work Sans', sans-serif; color:#1a1a1a;}

.icon-bar{height:1px; background:#000; width:27px;margin:0px 0 6px 0;}
.icon-bar:last-child{margin:0 0 0 0;}
#toggler{display:none;}
/* menu end*/

/* news section*/
.news-content{padding:5px 0 50px 0; background:#eceae6;}
.news-content .col-6{border:0px solid red;} 
.news-content .col-3{border:0px solid red;} 

/* Big news box */
.news-content .news-box{padding:0 20px 0 0;}
.news-content .news-box .news-banner .news-img{width:100%;}
.news-content .news-box .news-banner {position:relative; z-index:9;}
.news-content .news-box .news-banner .tag{padding:3px 4px 2px 4px; letter-spacing:1.5px;  position:absolute; top:15px; left:15px; font:400 11px/11px 'Work Sans', sans-serif; text-transform:uppercase;}
.news-content .news-box  .news-content-box{position:relative; z-index:12; width:86%; margin:-50px auto 0 auto;text-align:left;background:#fff; color:#000;padding:18px 15px;
-webkit-box-shadow: 0px 6px 27px -3px rgba(0,0,0,0.23);
-moz-box-shadow: 0px 6px 27px -3px rgba(0,0,0,0.23);
box-shadow: 0px 6px 27px -3px rgba(0,0,0,0.23);}
.news-content .news-box  .news-content-box h2{font:bold 21px/29px 'News701BT-BoldA';  color:#1a1a1a; margin:0;}

.news-content .news-list{border:0px solid blue; margin:25px 0 0 0 ;}
/* small news box */
.news-content .news-box-small img{width:100%;}
.news-content .news-box-small{padding:0 20px 25px 0;}
.news-content .news-box-small .news-banner .news-img{width:100%;}
.news-content .news-box-small .news-banner {position:relative; z-index:9;}
.news-content .news-box-small .news-banner .tag{padding:3px 4px 2px 4px; letter-spacing:1.5px; position:absolute; top:15px; left:15px; font:400 11px/11px 'Work Sans', sans-serif; text-transform:uppercase;}
.news-content .news-box-small  .news-content-box{position:relative; z-index:12; width:80%; margin:-30px auto 0 auto;text-align:left;background:#fff; color:#000;padding:10px;
-webkit-box-shadow: 0px 6px 27px -3px rgba(0,0,0,0.23);
-moz-box-shadow: 0px 6px 27px -3px rgba(0,0,0,0.23);
box-shadow: 0px 6px 27px -3px rgba(0,0,0,0.23);}
.news-content .news-box-small  .news-content-box h2{font:bold 16px/22px 'News701BT-BoldA';  color:#1a1a1a; margin:0;}
.news-content .news-box-small  .news-content-box p{font:400 13px/18px 'News701 BT'; color:#595959; margin: 5px 0;}
.news-content .news-box-small .no-img{padding:30px 0;}

.news-content .col-3 .news-box-small.p-reset{padding:0 10px 25px 10px !important; }
.news-content .col-3 .news-box-small .bck-reset{background:#fff; padding:40px 0;}
.news-content .col-3 .news-box-small .top{background:#0f9fdc !important;}
.news-content .col-3 .news-box-small  .news-content-box{-webkit-box-shadow: 0px 3px 27px -1px rgba(0,0,0,0.21);-moz-box-shadow: 0px 3px 25px -1px rgba(0,0,0,0.21); box-shadow: 0px 3px 25px -1px rgba(0,0,0,0.21);}
.news-content .col-3 .news-box-small  .news-content-box ul{padding:0 5px;}
.news-content .col-3 .news-box-small  .news-content-box ul li{list-style:none; color:#0f9fdc; font:400 12px/16px 'News701 BT'; border-bottom:2px dotted #b5b5b5; padding:10px 0;}
.news-content .col-3 .news-box-small  .news-content-box ul li a{color:#0f9fdc;}
.news-content .col-3 .news-box-small  .news-content-box ul li:last-child{border-bottom:none;}
#cafe p{padding-bottom:5px;}
#iu{padding:15px;}

.news-content .col-3 .news-box-small.p-right{padding:0 0px 25px 20px !important; }
#inbox{background:#fff;padding-bottom:55px;}
#inbox a.inbox-btn{font:400 13px/16px 'Work Sans', sans-serif; padding:8px 15px; background:#3367d5; color:#fff;}
#inbox a.inbox-btn:hover{background:#2652ae;}
/* news section end*/


/*Detail news page*/
#main-col .news-article{ background:#fff; color:#000; text-align:left; padding:25px; -webkit-box-shadow: 0px 6px 27px -3px rgba(0,0,0,0.23); -moz-box-shadow: 0px 6px 27px -3px rgba(0,0,0,0.23); box-shadow: 0px 6px 27px -3px rgba(0,0,0,0.23); margin-bottom:50px;}

.news-article span{font:600 12px/12px 'Work Sans', sans-serif; color:#000;}
.news-article span.time{font:400 12px/12px 'Work Sans', sans-serif; color:#000;}
.news-article h2{font: bold 24px/34px 'News701BT-BoldA';color: #1a1a1a; margin: 0; padding:15px 0 30px 0;}

.news-article .news-left-content{border:0px solid red; width:calc(65% - 15px); float:left; padding-right:15px; text-align:center;}
.news-article .news-left-content .detail-img{width:100%;}
.news-article .news-left-content p{font:400 14px/22px 'Work Sans', sans-serif; text-align:left; margin:0; padding:20px 0 0 0;}
.news-article .news-left-content p span{font:400 14px/22px 'Work Sans', sans-serif; text-transform:uppercase; text-align:left;}
.news-article .news-left-content .inside-img{margin:0 auto; width:50%; margin-top:25px;}

.news-article .news-right-content {border:0px solid blue; width:calc(35% - 20px); float:left; padding:10px 0 0 20px;}
.news-article .news-right-content span{font:400 12px/12px 'Work Sans', sans-serif; color:#999999; font-style:italic;}
.news-article .news-right-content h5{font:500 13px/13px 'Work Sans', sans-serif; text-transform:uppercase; margin:5px 0 25px 0; color:#000;}
.news-article .news-right-content p{font:400 14px/19px 'Work Sans', sans-serif; margin:25px 0 25px 0; color:#0f9fdc;}
.news-article .news-right-content span.shareit{font:400 12px/12px 'Work Sans', sans-serif; color:#999999; font-style:normal;}
.news-article .news-right-content .addthis_inline_share_toolbox{margin-top:10px;}

#main-col .comment-box{background:#fff; padding:10px; -webkit-box-shadow: 0px 6px 27px -3px rgba(0,0,0,0.23); -moz-box-shadow: 0px 6px 27px -3px rgba(0,0,0,0.23); box-shadow: 0px 6px 27px -3px rgba(0,0,0,0.23);}

/* mob share box*/
.mob-share-box{display:none;text-align:left; padding:15px 0 0 0;}
.mob-share-box .report{ float:left;}
.mob-share-box span{font:400 11px/12px 'Work Sans', sans-serif !important; color:#999999; font-style:italic !important; text-align:left;}
.mob-share-box h5{font:500 12px/13px 'Work Sans', sans-serif !important; text-transform:uppercase; margin:5px 0 5px 0; color:#000; text-align:left;}
.mob-share-box a{float: right; font-size: 22px;padding: 11px 0 0 0; color:#8c8c8c;}
.mob-share-box .a2a_dd img {border: 0;width: 20px;}
.mob-share-box p{font:400 13px/20px 'News701 BT' !important; margin:5px 0 25px 0; padding:10px 0 20px 0 !important; color:#0f9fdc; text-align:left;}

/*mob top news */
.mob-top-news{margin-top:50px;}
.mob-top-news .news-box-small.p-reset{padding:0 0px 25px 0px !important; }
.mob-top-news .news-box-small .bck-reset{background:#fff; padding:40px 0;}
.mob-top-news .news-box-small .top{background:#0f9fdc !important;}
.mob-top-news .news-box-small .news-banner .tag { padding: 2px 4px;font: 400 12px/12px 'Work Sans', sans-serif !important;}
.mob-top-news .news-box-small  .news-content-box{ width:85%;-webkit-box-shadow: 0px 3px 27px -1px rgba(0,0,0,0.21);-moz-box-shadow: 0px 3px 25px -1px rgba(0,0,0,0.21); box-shadow: 0px 3px 25px -1px rgba(0,0,0,0.21);}
.mob-top-news .news-box-small  .news-content-box ul{padding:0 5px;}
.mob-top-news .news-box-small  .news-content-box ul li{list-style:none; color:#0f9fdc; font:400 12px/16px 'News701 BT'; border-bottom:2px dotted #b5b5b5; padding:10px 0;}
.mob-top-news .news-box-small  .news-content-box ul li a{color:#0f9fdc;}
.mob-top-news .news-box-small  .news-content-box ul li:last-child{border-bottom:none;}


/* news list page */
.col-9 #grid[data-columns]::before {
	content: '3 .column.size-1of3';
}

/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { width:33.33%; }


/* footer */
footer {text-align:center;}
footer .footer-menu {background:#116aa8; text-align:center;}
footer .footer-menu ul li{list-style:none; display:inline-block; padding:15px 18px; font:400 13px/18px 'Work Sans', sans-serif; color:#fff;}
footer .footer-menu ul li a{font:400 13px/18px 'Work Sans', sans-serif; color:#fff;}
footer h5{font:600 16px/18px 'Work Sans', sans-serif; color:#393939; margin-bottom:5px;}
footer p{font:400 14px/26px 'Work Sans', sans-serif; color:#777777;}
footer  .footer-links li{text-align:center;list-style:none; display:inline-block; padding:10px 18px 25px 18px;}
footer .copyright{background:#eaeaea;}
footer .copyright p{font:400 14px/18px 'Work Sans', sans-serif; color:#777777; margin:0; padding:20px 0 30px 0;}
footer .copyright p a{font:400 14px/18px 'Work Sans', sans-serif; color:#777777;}
footer .copyright p a:hover{color:#00adf1;}
footer .socials{display:none;}
/* footer end*/

/* media*/
@media screen and (max-width:1200px){
	.socials li span{display:none;}
	header .menu-tab{width:23%;}
	header .menu ul li {padding: 15px 8px; font: 800 12px/18px 'Work Sans', sans-serif;}
}

@media screen and (max-width:991px){
	/*header .adv-box {width: 70%;}
	header .logo { width: 230px;}
	header .date {width: 220px;}
	header .date h4 { font: bold 12px/16px 'News701BT-BoldA'}
	header .pie {margin: 0px 2px 0 0;}
	header .socials li {padding: 0 4px;}
	header .socials li a {padding: 0 4px 0 4px !important;}*/
	
		header .adv-box {display:none;}
	header hr.line{display:none;}
	header .date h4{display:none;}
	header .right-links {display:none;}
	header .date {width: 160px;float: none;margin: 0 auto; padding:5px 0 4px 0; position:relative;}
	header .search-btn{position:fixed; top:14px; display:block;}
	header .search-box {position: fixed;left:0;right:0px; margin:0 auto;width: 95%;top: 66px;}
	header .search-box .txtsearch{width:87%; float:left; padding:8px 10px; border:1px solid #d9d9d9; }
	header .search-box .txtsearch:focus, header .search-box .txtsearch:hover{outline:none;} 
	header .search-box .sub-btn{border:1px solid #0f9fdc; font-size:18px; padding:5px 0; width:13%; background:#0f9fdc; color:#fff;}
	.fa-caret-up{float:left; margin: -24px 0px 0 5px; color:#fff; font-size:20px;}
	
	header .menu-btn{position:absolute; top:13px; right:15px; width:25px; display:block;}
	header .logo{float:none;}
	/* fixed header*/
	header .navigations{position: fixed;background: #fff; z-index: 99999999;width: 100%;}
	.news-content {position: relative;top: 50px;}
	/*header .right-links {width: 100%; padding: 0px 0 15px 0; float: none;}
	header .socials {float: none;text-align: center;}
	header .socials li:nth-child(4){display:none;}
	header .socials li.tools {display:block; margin-top:10px;text-align: center;}
	header .socials li a {padding: 0 8px 0 8px !important;}*/
	
	header .menu-tab{width:100%; position:fixed; height:auto; top:55px; overflow-y:scroll;}
	header .tab-logo{display:none;}
	header .close{display:none;}
	
	.news-content .news-box {padding: 0 8px 0 0;}
	.news-content .col-3 .news-box-small.p-reset {padding: 0 2px 25px 2px !important;}
	.news-content .col-3 .news-box-small.p-right {padding: 0 0px 25px 8px !important;}
	.news-content .news-box-small { padding: 0 8px 25px 0;}
	.news-content .news-box .news-content-box{padding: 10px;}
	.news-content .news-box .news-content-box h2 { font: bold 15px/20px 'News701BT-BoldA';}
	.news-content .news-box-small .news-content-box{padding: 8px;}
	.news-content .news-box-small .news-content-box h2 { font: bold 12px/16px 'News701BT-BoldA';}
	.news-content .news-box-small .news-content-box p {font: 400 11px/14px 'News701 BT';}
	.news-content .news-box-small .news-banner .tag {padding: 2px 4px;font: 400 9px/9px 'Work Sans', sans-serif;}
	.news-content .col-3 .news-box-small .news-content-box ul li{font: 400 11px/14px 'News701 BT';}
	#inbox a.inbox-btn { font: 400 10px/16px 'Work Sans', sans-serif; padding: 6px;}
	
	#main-col{width:100% !important;}/**/
	.news-article span {font: 600 11px/12px 'Work Sans', sans-serif;}
	.news-article span.time {font: 400 11px/12px 'Work Sans', sans-serif;}
	.news-article h2 { font: bold 22px/30px 'News701BT-BoldA';}
	.news-article .news-left-content {width: calc(65% - 10px);padding-right: 10px;}
	.news-article .news-left-content p {font: 400 13px/21px 'Work Sans', sans-serif;}
	.news-article .news-left-content p span {font: 400 13px/21px 'Work Sans', sans-serif;}
	
	.news-article .news-right-content span {font: 400 11px/12px 'Work Sans', sans-serif;}
	.news-article .news-right-content h5 { font: 500 12px/13px 'Work Sans', sans-serif; margin: 5px 0 0px 0;}
	.news-article .news-right-content p {font: 400 13px/18px 'Work Sans', sans-serif;margin: 20px 0 20px 0;}
	.news-article .news-right-content span.shareit {font: 400 11px/12px 'Work Sans', sans-serif;}
	
	
	/* news list page */
	.col-9 #grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}

	/* These are the classes that are going to be applied: */
	.column { float: left; }
	#list-news-page .col-9 .size-1of2:nth-child(1){width:calc(50% - 7px); padding-right:7px;}
	#list-news-page .col-9 .size-1of2:nth-child(2){width:calc(50% - 7px); padding-left:7px;}
	
	
	#detail-page .col-3{display:none;}
	
	#main-col .comment-box{margin-bottom:50px;}
	
	
	footer .footer-menu ul li {padding: 15px 10px;}
	footer .footer-links li { padding: 0px 5px 20px 5px;}
	footer .footer-links li img{width:90%;}
	
	.menu{padding:10px 0 !important;}
	.menu #nav-list{display:none;}
	/* Menu 
	.menu{position:relative;}
	#toggler{display:block;margin: 9px 0 4px 0;float:right; padding: 5px; border:1px solid #000;}
	.menu #nav-list{position: absolute; left: 0;top: 30px;z-index: 999999; width: 100%;background: #fff; display:none;}
	.menu #nav-list li{display:block;}*/
	footer {position: relative;}
	
	footer .socials{display:block; padding: 0 0 20px 0; margin-top:-5px;}
	footer .socials li{display:inline;}
	footer .socials li a{margin:0 10px 0 12px;}
	footer .socials li a i{font-size:20px;}
	footer .socials li a .fa-facebook{color:#3b5989;}
	footer .socials li a .fa-twitter{color:#00acee;}
	footer .socials li a .fa-youtube-play{color:#e02f2f;}
	footer .pie{margin:0px 8px 0 0; position:relative; top:6px;}
	footer .deals{padding: 2px 5px !important; margin:0 8px 0 0; background:#ee522e; color:#fff;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;position:relative; top:-2px; font:500 12px/18px 'Work Sans', sans-serif;}
	footer .deals:hover{background:#d84827;}
	footer .icon{position:relative; top:5px;}
	footer .paper{width:26px; position:relative; top:5px;}
	footer .pen{width:26px; position:relative; top:5px;}
}

@media screen and (max-width:640px){
	/*header .adv-box {display:none;}
	header hr.line{display:none;}
	header .date h4{display:none;}
	header .right-links {display:none;}
	header .date {width: 160px;float: none;margin: 0 auto; padding:5px 0 4px 0; position:relative;}
	header .search-btn{position:absolute; top:14px; display:block;}
	header .search-btn{position:absolute; top:14px; display:block;}
	
	header .search-box .txtsearch{width:100%; padding:5px 10px; }*/
	/* header .menu-btn{position:absolute; top:13px; right:15px; width:25px; display:block;}
	header .logo{float:none;}
	fixed header
	header .navigations{position: fixed;background: #fff; z-index: 99999999;width: 100%;}
	.news-content {position: relative;top: 50px;}*/
	/*header .right-links {width: 100%; padding: 0px 0 15px 0; float: none;}
	header .socials {float: none;text-align: center;}
	header .socials li:nth-child(4){display:none;}
	header .socials li.tools {display:block; margin-top:10px;text-align: center;}
	header .socials li a {padding: 0 8px 0 8px !important;}
	
	header .menu-tab{width:100%; position:fixed; height:auto; top:55px; overflow-y:scroll;}
	header .tab-logo{display:none;}
	header .close{display:none;}*/
	
	header .search-box{width:calc(95% - 30px); margin:0 auto;padding: 10px;}
	
	
	.news-content .col-3 .news-box-small .news-content-box ul li { font: 400 12px/14px 'News701 BT';}
	.news-content .news-box-small .news-content-box .news-content-box img{margin:0 auto;}
	.news-box { padding: 0 0px 0 0 !important;}
	.news-content .news-box-small{padding:0 0 25px 0;}
	.news-content .news-list .col-6{width:calc(50% - 10px);}
	.news-content .news-list .col-6:nth-child(2n+1){padding-right:10px;}
	.news-content .news-list .col-6:nth-child(2n+2){padding-left:10px;}
	.news-content .col-3 .news-box-small.p-right { padding: 0 0px 25px 0px !important;}

	#main-col .news-article{padding:15px; margin-bottom: 35px;}
	.news-article span {font: 600 10px/12px 'Work Sans', sans-serif;}
	.news-article span.time { font: 400 10px/12px 'Work Sans', sans-serif;}
	.news-article h2 {font: bold 20px/30px 'News701BT-BoldA'; padding: 10px 0 25px 0;}
	.news-article .news-left-content { width: 100%; padding:0 0 20px 0;}
	.news-article .news-left-content p { font: 400 16px/24px 'Work Sans', sans-serif; padding: 15px 0 0 0;}
	.news-article .news-left-content p span { font: 400 16px/24px 'Work Sans', sans-serif;}
	.news-article .news-left-content .inside-img{margin:0 auto; width:50%; margin-top:15px;}
	
	.news-article .news-right-content { display:none; width: 100%;padding: 30px 0 0 0px;}
	.news-article .news-right-content p { font: 400 12px/18px 'Work Sans', sans-serif;}
	
	.mob-share-box{display:block;}
	/*.mob-top-news{display:block;}*/
	
	#list-news-page .col-9{width:100%;}
	#list-news-page .col-9 .size-1of2:nth-child(1){width:calc(50% - 7px); padding-right:7px;}
	#list-news-page .col-9 .size-1of2:nth-child(2){width:calc(50% - 7px); padding-left:7px;}
	#list-news-page .col-3{width:100%;}
	
	footer .footer-menu{padding:10px 15px; margin-top: 25px;}
	footer p {font: 400 13px/22px 'Work Sans', sans-serif; margin-bottom: 25px;}
	footer .footer-menu ul li {padding:5px;}
	footer .copyright{padding:0 15px;}
	footer .copyright p {font: 400 11px/17px 'Work Sans', sans-serif; padding: 15px 0;}
	footer .copyright p a {font: 400 11px/17px 'Work Sans', sans-serif;}
	
	
}